<!DOCTYPE html>
<html>
<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>
	<body>
		<nav>
			<ul>
				<li><a href = "{{url_for('showAllBrands')}}">Snowboard Brands Application</a></li>
				<li>
						{%if 'username' not in session %}
						<a class="button" href="{{url_for('showLogin')}}">Login </a>
						{% else %}
						<a class="button" href="{{url_for('gdisconnect')}}">Logout </a>
						{% endif %}
				</li>
			</ul>
		</nav>
	<h1> Are you sure you want to delete {{snowboard.name}}? </h1>

	<form action="{{ url_for('deleteSnowboard', brand_id = snowboard.brand.id, snowboard_id=snowboard.id)}}" method = 'post'>

	<input type='submit', value = 'Delete'>

	</form>

	<a href = "{{url_for('showSnowboard', brand_id = brand_id)}}"> Cancel </a>
</body>

</html>